@use "variables";

.movie{
    padding-top: 64px;
    padding-bottom: 64px;
    text-align: center;
    background-image: linear-gradient(variables.$red, variables.$green);

    &__play{
        display: flex;
        gap: 40px;

        h2{
            color: variables.$textColor;
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 16px;
            margin-top: 16px;
        }

        iframe{
            border-radius: 8px;
            //border: 2px solid rgb(255, 0, 0);
        }
    }

    @media (max-width: 640px){
        
        &__play{
        display: block;  
        
            iframe{
                width: 100%;
                max-width: 360px;
                max-height: 200px;
            }
        }
    }
}